@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */

html {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/Mountain.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  padding: 2rem;
}

h2,
i {
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
}

ul {
  font-size: 1.1rem;
}

/* Search Bar */

form {
  text-align: center;
}

input[type="text"] {
  padding: 5px;
  background-color: transparent;
  color: white;
  border: 2px solid whitesmoke;
  border-radius: 0;
  margin: 0 2em;
}

input[type="text"]::placeholder {
  color: white;
}

input.search-error {
  border: 2px solid #bb2525;
}

form button {
  padding: 5px 15px;
  margin-left: 2em;
  color: white;
  background-color: #696969;
  border: 2px solid whitesmoke;
  border-radius: 3px;
  transition: 500ms;
}

form button:hover {
  cursor: pointer;
  background-color: blueviolet;
}

/* Weather Info */

.weather-info {
  text-align: center;
}

.location {
  margin-bottom: 1.5em;
}

.weather-main {
  display: grid;
  grid-template-areas:
    "weather-icon temperature"
    "weather-condition .";
  width: fit-content;
  margin: 0 auto 1em;
  gap: 0.5em 1em;
}

.weather-icon {
  grid-area: weather-icon;
}

.weather-condition {
  grid-area: weather-condition;
}

.temperature {
  grid-area: temperature;
}

.weather-extra {
  list-style: none;
  margin-top: 2em;
}

.weather-extra li {
  margin: 1em;
}
